<app-main-header [pageTitle]="pageTitle"></app-main-header>

<div>
  <p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
</div>

<div>
  <input [(ngModel)]="searchTerm" placeholder="">
</div>

<br>

<div>
  <button (click)="search(searchTerm)">Go</button>
</div>

<br>

<app-recent-searches (onRepeatSearch)="onRepeatSearch($event)"></app-recent-searches>

<ngx-loading [show]="loading"></ngx-loading>
