<div class="intro-section">
  <p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location!</p>
</div>

<div class="form-control">
  <input [(ngModel)]="currentRequest" placeholder="">
</div>

<br>

<div class="buttons">
  <button type="submit">Go</button>
  <button type="button">My location</button>
</div>

<br>

<h2>Recent searches:</h2>

<ul *ngIf="recentSearches.length">
  <li *ngFor="let search of recentSearches" (click)="goToSearchItem(search)">
    {{ search.name }} <span>({{ search.num_res }})</span>
  </li>
</ul>

<div *ngIf="!recentSearches.length">
  <p>No searches yet.</p>
</div>
